!!! XML
/
  Document   : pom.haml
  Created on : #{Time.new}
  Author     : ivan
  Description:
  Purpose of the document follows.

%project{
  %s(xmlns)              => "http://maven.apache.org/POM/4.0.0",
  %s(xmlns:xsi)          => "http://www.w3.org/2001/XMLSchema-instance",
  %s(xsi:schemaLocation) => "http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
  }

  %modelVersion 4.0.0
  %groupId project._42algoritmos
  %artifactId console-app-archetype
  %version 1.0.4
  %packaging maven-archetype

  %name consoleapp-archetype

  %properties
    - t = "project.build.sourceEncoding"
    - v = "UTF-8"
    = "<#{t}>#{v}</#{t}>"
    - t = "maven.archetype.plugin.version"
    - v = "2.2"
    = "<#{t}>#{v}</#{t}>"

  %build
    %extensions
      %extension
        %groupId org.apache.maven.archetype
        %artifactId archetype-packaging
        %version ${maven.archetype.plugin.version}

    %pluginManagement
      %plugins
        %plugin
          %artifactId maven-archetype-plugin
          %version ${maven.archetype.plugin.version}

  %url http://maven.apache.org

